*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "open sans";
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color:aqua;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* header */
header{
    width: 100%;
    height: 600px;
    /* Uigradiant */
    background: #6A9113;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(220, 7%, 8%, 0.671), hsla(165, 29%, 53%, 0.067)), url(../image/Fondo.jpg);
     /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(220, 7%, 8%, 0.671), hsla(165, 29%, 53%, 0.067)), url(../image/Fondo.jpg); 
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: antiquewhite;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    color: rgb(216, 134, 27);
    font-weight: 300;
    text-decoration: underline;
    margin-right: 10px;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: antiquewhite;
}

button{
    text-decoration:none;
    font-weight:600;
    font-size:20px;
    color:#ffffff;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:40px;
    padding-right:40px;
    background-color:transparent;
    margin-right: 60%;
    margin-left: 5%;
    border-color: #ffffff;
}

.contenedor-bembos{
    display: flex;
    justify-content: space-between;

}

.imagen-about-us{
    width: 48%;
}

.bembos .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: blue;
    color: antiquewhite;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    /* Para crear sombras */
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;

}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

#nav ul{
    list-style-type: none; /*quitar viñetas*/
    margin: 0; /*espacio externo*/
    padding: 0; /*espacio interno*/
    overflow: hidden; /*texto flotante esté en el cuadro*/
    background-color: rgb(45, 17, 46);
}

#nav li{
    float: left; 
}

#nav li a{
    display: inline;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#nav li a:hover{
    background-color: #111;
}


.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.estrellas{
    margin: 0;
    display: inline;
    place-items: center;
    height: 100vh;
    margin: 0;
    transform: rotateY(180deg); 
    margin-left: 40%;
}

input{
    display: none; 
}

label{
    display: inline-block;
    color: #444;
    font-size: 50px;
    cursor: pointer;
    transition: all 0.3s;
    glyph-orientation-horizontal: 0deg;
}

label:not(:last-child){
    margin-right: 5px;
}

input:checked ~ label,
input:hover ~ label{
    color: yellow;
}

input:hover ~ label{
    transform: scale(1.2)rotate(-30deg);
}


footer{
    background: darkslategray;
    padding: 60px 0 30px 0;
    margin: auto;
    /* Para que nada sealga del cuadro de footer */
    overflow: hidden;
}

.contenedor-footer{
    /* Flex desplega el contenido */
    display: flex;
    width: 90%;
    /* Se reparte los elementos equitativamente */
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid gray;

}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: antiquewhite;
    border-bottom: 3px solid aqua;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.content-foo p{
    color: gray
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: wheat;
}