*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "open sans";
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color:aqua;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* header */
header{
    width: 100%;
    height: 600px;
    /* Uigradiant */
    background: #6A9113;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(220, 7%, 8%, 0.671), hsla(165, 29%, 53%, 0.067)), url(../image/Fondo.jpg);
     /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(220, 7%, 8%, 0.671), hsla(165, 29%, 53%, 0.067)), url(../image/Fondo.jpg); 
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: antiquewhite;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    color: rgb(216, 134, 27);
    font-weight: 300;
    text-decoration: underline;
    margin-right: 10px;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: antiquewhite;
}

.Restaurantes{
    background: whitesmoke;
}

.galeria-restaurantes{
    display: flex;
    justify-content: space-evenly;
    /* Para que las imagenes no se junten */
    flex-wrap: wrap;


}

.imagen-restaurantes{
    width: 24%;
    margin-bottom: 10px;
    height: 240px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    background-color: aliceblue;
}

/* Para ordenar las imagenes en fila */
.imagen-restaurantes > img{
    width: 100%;
    height: 100%;
    /* Por si cometes errores */
    display: block;
    background-color: aliceblue;
}

/* Para que cuando el cursor pase por la imagen asparezca un icono y fondos dinámicos*/
/* hover-galeria ya da la altura a las imagenes*/
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* Para que el icono desaparezca */
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7) url(https://es.wikipedia.org/wiki/Cafeter%C3%ADa);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color:antiquewhite;
}

/* Solo se usa cuando tengas el hover ya listo */
.imagen-restaurantes:hover .hover-galeria{
    transform: scale(1);
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer{
    background: darkslategray;
    padding: 60px 0 30px 0;
    margin: auto;
    /* Para que nada sealga del cuadro de footer */
    overflow: hidden;
}

.contenedor-footer{
    /* Flex desplega el contenido */
    display: flex;
    width: 90%;
    /* Se reparte los elementos equitativamente */
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid gray;

}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: antiquewhite;
    border-bottom: 3px solid aqua;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.content-foo p{
    color: gray
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: wheat;
}


